* {
    margin: 0;
    padding: 0;
}

.postcard{
    max-width: 600px;
    margin: 32px auto;
    border: 1px solid black;
    padding: 8px;
}
.postcard-header{
    display: flex;
    max-height: 100px;
    margin-bottom: 8px;
}
.postcard-title{
    font-size: xx-large;
    display: flex;
    align-items: center;
    flex: 1;
}

.postcard-image-container{
    width: 100px;
}

.postcard-image{
    height: 100%;
}

.postcard-body{
    display: flex;
}

.body-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}
.body-right input{
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.body-right input:focus{
    border-bottom-color: #444
}

.body-left {
    line-height: 1.6;
}

.send-button {
    margin: 16px auto;
    width: fit-content;
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
}

button:hover{
    background-color: #2a3f73;
}